* {
    margin: 0;
    padding: 0;
    font-family: roboto;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: #01942A;
}

.container-geral{
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

    @media (max-width: 768px){
        body {
            height: 200vh;
        }
        
        .container-geral{
            justify-content: center;
            height: 200vh;
        }
    }

    #container-list{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-height: 90vh;
        
    }

        @media (max-width:768px){
            #container-list{
                flex-grow: 0;
                width: 100%;
                max-height: 95vh;
            }
        }

        /* #label-list{
            position: relative;
            background-color: #ffffff;
            width: 90%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -40px;
            font-size: 18px;
        }

        @media (max-width: 768px){
            
            #label-list{
                display: none
            }
        } */

        .list{
            width: 90%;
            max-height: 90%;
            background-color: #ffffff;
            box-shadow: 0px 40px 80px #00000070;
        }

        @media (max-width:768px){
            .list{
                box-shadow: 0px 10px 20px #00000070;
            }
        }

#container-form{
    max-width: 1000px;
    width: 35%;
    max-height: 90%;
    background-color: #ffffff;
    box-shadow: 0px 40px 80px #00000070;
    margin: 0 20px;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

    @media (max-width:768px){
        #container-form{
            width: 90%;
            max-height: 90%;
        }
    }

    #container-form img {
        max-width: 250px;
        width: 30%;
        margin-top: 15px;
    }

    form{
        display:flex;
        flex-direction: column;
        width: 80%;
        flex-grow: 1;
        transition: all 0.5s;
    }

        form label{
            font-family: Roboto;
            font-size: 14px;
            color: #7B7B7B;
            margin-top: 16px;
            margin-bottom: 2px;
        }

        form input{
            height: 30px;
            padding-left: 10px;
            font-size: 16px;
        }

        form select{
            height: 30px;
            padding-left: 5px;
            font-size: 16px;
        }

        .input-2 {
            width: 100%;
            display: flex;
            margin-top: 5px;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .input-2 div{
            margin-right: 00px;
            width: 50%;
            flex: 1;
        }

        .input-2 select {
            
            width: 95%;
            margin: 5px 0px;
        }

        #btn-submit{
            margin-top: 10px;
            margin-bottom: 20px;
            height: 60px;
            border: none;
            background-color: #01942A;
            color: white;
            font-size: 22px;
            font-weight: bold;
        }

        #btn-submit:active{
            background-color: rgb(4, 110, 34);
        }

.sucesso{
    width: 70%;
    height: 50vh;
    background-color: #01942A;
    margin-top: 20px;
    margin-bottom: 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    transition: all 0.5s;
    
    
    font-size: 20px;

    box-shadow: 0px 30px 60px #00000070   
}

.sucesso p {
    margin-top: 10px;
    padding: 0px 15px;
}

#btn-cancel{
    height: 35px;
    background-color: white;
    color: rgb(4, 110, 34);
    font-size: 16px;
    display: flex;
    padding: 0px 15px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 20px;
    user-select: none;
    cursor: pointer;
    box-shadow: 0px 15px 30px #00000070;

}

#btn-cancel:active{
    background-color: #c2c2c2;
}

/* loading */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin-bottom: 50px;
    margin-left: -45px;
    margin-top: -30px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.loading {
    width: 100px;
    height: 100px;
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
}

#loading {
    margin-left: 0px;
    margin-top: 0px;
}


#loading div{
    color: #01942A;
    border: 8px solid #01942A;
    border-color: #01942A transparent transparent transparent;
    
}
    
}